apiVersion: v1
kind: Pod
metadata:
  name: beemesh-machine
  labels:
    app: beemesh-machine
spec:
  restartPolicy: Always
  containers:
    - name: bootstrap
      image: beemesh-machine:latest
      env:
      - name: RUST_LOG
        value: "debug"
      args:
        - "--libp2p-quic-port"
        - "4001"
        - "--disable-scheduling"
        - "--disable-machine-api"
      ports:
        - containerPort: 4001
          hostPort: 4001
          protocol: UDP
        - containerPort: 4001
          hostPort: 4001
          protocol: TCP
        - containerPort: 3000
          hostPort: 3000
          protocol: TCP
        - containerPort: 3000
          hostPort: 3000
          protocol: UDP
    - name: peer1-with-dns
      image: beemesh-machine:latest
      env:
      - name: RUST_LOG
        value: "debug"
      args:
        - "--disable-rest-api"
        - "--disable-machine-api"
        - "--bootstrap-peer"
        - "/ip4/127.0.0.1/udp/4001/quic-v1"
        - "--podman-socket"
        - "/run/podman/podman.sock"
      volumeMounts:
        - name: podman-socket
          mountPath: /run/podman/podman.sock
        - name: host-proc-cpuinfo
          mountPath: /host-proc/cpuinfo
          readOnly: true
        - name: host-proc-meminfo
          mountPath: /host-proc/meminfo
          readOnly: true
        - name: host-containers-storage
          mountPath: /var/lib/containers/storage
          readOnly: true
    - name: peer2-with-localhost
      image: beemesh-machine:latest
      env:
      - name: RUST_LOG
        value: "debug"
      args:
        - "--disable-rest-api"
        - "--disable-machine-api"
        - "--bootstrap-peer"
        - "/ip4/127.0.0.1/udp/4001/quic-v1"
        - "--podman-socket"
        - "/run/podman/podman.sock"
      volumeMounts:
        - name: podman-socket
          mountPath: /run/podman/podman.sock
        - name: host-proc-cpuinfo
          mountPath: /host-proc/cpuinfo
          readOnly: true
        - name: host-proc-meminfo
          mountPath: /host-proc/meminfo
          readOnly: true
        - name: host-containers-storage
          mountPath: /var/lib/containers/storage
          readOnly: true
  volumes:
    - name: podman-socket
      hostPath:
        path: /run/user/1000/podman/podman.sock
        type: Socket
    - name: host-proc-cpuinfo
      hostPath:
        path: /proc/cpuinfo
        type: File
    - name: host-proc-meminfo
      hostPath:
        path: /proc/meminfo
        type: File
    - name: host-containers-storage
      hostPath:
        path: /var/lib/containers/storage
        type: Directory
